@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Persons";
}

<form action="~/persons/index" method="get">
    <h1>Persons</h1>

    <div class="box flex">
        <div class="flex-1" >
            <select class="form-input" name="searchBy" value= @ViewBag.CurrentSearchBy>
                @foreach (var field in ViewBag.SearchFields)
                {
                    <option value="@field.Key">@field.Value</option>
                }

            </select>
        </div>
        <div class="flex-1">
            <input type="search" id="Search" class="form-input" value=@ViewBag.CurrentSearchString
                   name="searchString" placeholder="Search" />
        </div>
        <div class="flex-1">
            <button class="button button-blue-black">Search</button>
            <a href="~/persons/index" class="link-hover">ClearAll</a>
        </div>
    </div>

    <table class="table w-100 mt">

        <thead>
            <tr>
                <th>Person Name</th>
                <th>Email</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Address</th>
                <th>Country</th>
                <th>Recived Newsletters</th>

            </tr>
        </thead>
        <tbody>
            @foreach (PersonResponse person in Model)
            {
                <tr>
                    <td>@person.PersonName</td>
                    <td>@person.Email</td>
                    <td>@person.DateOfBirth?.ToString("MM /dd /yyyy")</td>
                    <td>@person.Gender</td>
                    <td>@person.Age</td>
                    <td>@person.Address</td>
                    <td>@person.Country</td>
                    <td>@person.ReceiveNewsLetters</td>
                </tr>
            }

        </tbody>
    </table>
</form>